<!-- /**
 * @author:Dristi Marasini
 */ -->
 <h2>Product Deletion</h2>
ID:
<%=  product._id %>
<br> Product Name:
<%=product.productName%>
<br /> Product Description:
<%=product.description%>
<br /> Product Type:
<%=product.productType%>
<br /> Unit Price:
<%=product.unitPrice%>


<form method="get" action="/product">
    <input type="submit" value="Return to list" class="btn btn-caution" />
</form>

<br />
<form method="POST" action="/product/delete/<%= product._id %>">
    <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>