<br/>
<br/>
<h2>customer details</h2>
    <br/> ID:
    <%=  customer._id %>

    <br/> FirstName:
    <%=customer.customerFirstName%>
    <br/> MiddleName:
    <%=customer.customerMiddleName%>
    <br/> LastName:
      <%=customer.customerLastName%>
      <br/> Age:
      <%=customer.customerAge%>
      <br/> PhoneNumber:
      <%=customer.phoneNumber%>
     <br/>Street Address:
      <%=customer.street%>
     <br/>City:
      <%=customer.city%>
     <br/>State:
     <%=customer.state%>

    <br/>country:
    <%=customer.country%>
   <br/>   
            <br/>
            <br/>
            <form method="get" action="/customer">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>